{{define "Edit"}}

{{template "_head"}}

{{template "_menu"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editing Product</h1>
                <p class="lead">Insert data to update or edit</p>
            </div>
        </div>
        <form method="POST" action="update">
            <input type="hidden" name="id" value="{{.ID}}" >
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" value="{{.Name}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="barcode">Barcode:</label>
                        <input type="text" name="barcode" class="form-control" value="{{.Barcode}}">
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="brandname">Brand Name:</label>
                        <input type="text" name="brandname" class="form-control" value="{{.BrandName}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="isvegan">Is Vegan?:</label>
                        <input type="text" name="isvegan" class="form-control" value="{{.IsVegan}}">
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" name="price" class="form-control" step="0.01" value="{{.Price}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="duedate">Due Date:</label>
                        <input type="text" name="duedate" class="form-control" value="{{.DueDate}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="mescode">Measurement Code:</label>
                        <input type="text" name="mescode" class="form-control" step="0.01" value="{{.Measurement.Code}}">
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="mesvalue">Measurement Value:</label>
                        <input type="text" name="mesvalue" class="form-control" step="0.01" value="{{.Measurement.Value}}">
                    </div>
                </div>
            </div>                     
            <button type="submit" value="save" class="btn btn-success">Update</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>

</html>
</div>
</body>

</html>
{{end}}